/* Header */
    .Header {
      background-image: url('assets/84306809_p1.jpg');
      background-repeat: no-repeat;
      flex-direction: column;
      padding: 0.5% 3%;
    }

    .nameTitle img{
      width: 200px;
      height: auto;
      border-radius: 100%;
    }

    .nameTitle{
      text-align: center;
      font-weight: bolder;
      font-size: x-large;
      color: white;
      font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }
/* Header */

/* ------------------------------------------------------- */

/* Body */
    .Body{
      flex-direction: row;
      animation: fadeInAnimation ease 2s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
            @keyframes fadeInAnimation {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
    }
/* Body */

/* ------------------------------------------------------- */

/* topBody */
    .topBody{
      background-color: white;
      display: flex;
      justify-content: space-between;
      padding: 2% 5%;
    }
  
    .topLeft {
      /* background-color: white; */
      opacity: 0.5;
      position: relative;
      text-align: center;
    }

    .topLeft:hover{
      opacity: 1;
    }

    .topRight {
      /* background-color: white; */
      opacity: 0.5;
      position: relative;
      text-align: center;
      /* color: white; */
    }

    .topRight:hover{
      opacity: 1;
    }

    .centered1{
        font-size: xxx-large;
        font-weight: bolder;
        color: black;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .centered2{
      font-size: xxx-large;
      font-weight: bolder;
      color: black;
      font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

/* topBody */

/* ------------------------------------------------------- */

/* bottomBody */
    .bottomBody{
      background-color: honeydew;
      display: flex;
      justify-content: space-between;
      padding: 0.1% 2%;
    }
/* bottomBody */

/* ------------------------------------------------------- */